@model FloppyBird.Models.HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["Username"] = Model.User != null ? Model.User.Name : "";
}

@if (Model.User == null)
{
  @(await Html.PartialAsync("_CreateUserForm.cshtml"))
}

@if (Model.CurrentSession == null && Model.User != null)
{
  @(await Html.PartialAsync("_CreateSessionForm.cshtml"))
}

@if (Model.CurrentSession != null && Model.User != null)
{
    @section GameScriptDependencies {
        <script>
            let base_url = "@Model.BaseUrl";
            let isTheGameStarted = "@Model.CurrentSession.IsStarted" === "True";
            let CountEveryScore = parseInt("@((int)ScoreCountingType.CountEveryScore)");
            let CountHighestScoreOnly = parseInt("@((int)ScoreCountingType.CountHighestScoreOnly)");
        </script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/session.js"></script>
    }

    if (Model.CurrentUserIsTheGameMaster)
    {
        ViewData["Username"] = $"Game Master - {Model.User.Name}";
         @(await Html.PartialAsync("_GameInfo.cshtml", Model))
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="fs-2 fw-bold pb-lg-5">Session token: <input class="form-control form-control-lg" value="@Model.CurrentSession.SessionToken" /></p>

                    @if (!Model.CurrentSession.IsStarted)
                    {
                        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="StartTheGameSession">
                            <button type="submit" class="btn btn-success btn-lg">Start the session</button>
                        </form>
                    }

                    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ExitTheGameSession">
                        <button type="submit" class="btn btn-danger btn-lg">Exit</button>
                    </form>

                </div>
            </div>
        </div>
        
        @(await Html.PartialAsync("_ScoreCard.cshtml", Model))
    }
    else
    {
        <div class="row flex-grow-1">
            <div class="col-8">
                @(await Html.PartialAsync("_GameScreen.cshtml"));
            </div>
            <div class="col-4">
                <div class="row">
                    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="LeaveTheSession">
                        <button type="submit" class="btn btn-danger btn-lg">Exit</button>
                    </form>
                    @(await Html.PartialAsync("_GameInfo.cshtml", Model))
                    @(await Html.PartialAsync("_ScoreCard.cshtml", Model))
                </div>
            </div>
        </div>

        @section GameScripts {
            <script src="~/js/main.js"></script>
        }
    }

}

