@model FloppyBird.Models.HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["Username"] = Model.User != null ? Model.User.Name : "";
}

@if (Model.User == null)
{
  @(await Html.PartialAsync("_CreateUserForm.cshtml"))
}

@if (Model.CurrentSession == null && Model.User != null)
{
  @(await Html.PartialAsync("_CreateSessionForm.cshtml"))
}

@if (Model.CurrentSession != null && Model.User != null)
{
    @section GameScriptDependencies {
        <script>
            let base_url = "@Model.BaseUrl";
            let isTheGameStarted = "@Model.CurrentSession.IsStarted" === "True";
            let CountEveryScore = parseInt("@((int)ScoreCountingType.CountEveryScore)");
            let CountHighestScoreOnly = parseInt("@((int)ScoreCountingType.CountHighestScoreOnly)");
        </script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/session.js"></script>
    }

    if (Model.CurrentUserIsTheGameMaster)
    {
        ViewData["Username"] = $"Game Master - {Model.User.Name}";
         @(await Html.PartialAsync("_GameInfo.cshtml", Model))
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Session token</span>
                        <input type="text" class="form-control" value="@Model.CurrentSession.SessionToken">
                        <button type="submit" class="btn btn-outline-dark">Copy</button>
                        @if (!Model.CurrentSession.IsStarted)
                        {
                            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="StartTheGameSession">
                                <button type="submit" class="btn btn-success">Start the game</button>
                            </form>
                        }
                        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ExitTheGameSession">
                            <button type="submit" class="btn btn-warning">End the game</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        @(await Html.PartialAsync("_ScoreCard.cshtml", Model))
    }
    else
    {
        @section gameStyle {
            <link href="~/css/gameStyle.css" rel="stylesheet" />
        }

        <div class="row flex-grow-1">
            <div class="col-8">
                @(await Html.PartialAsync("_GameScreen.cshtml"));
            </div>
            <div class="col-4 overflow-auto">
                <div>
                    @(await Html.PartialAsync("_GameInfo.cshtml", Model))
                    @(await Html.PartialAsync("_ScoreCard.cshtml", Model))
                </div>
            </div>
        </div>

        @section GameScripts {
            <script src="~/js/main.js"></script>
        }
    }

}

